/* NavBar General */
.logo{
    color: var(--primary-active-color);
    text-decoration: none;
}

#left-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--left-navbar-bg);
}
.navbar-item{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-size: 20px;
    color:white;
}
.navbar-active .navbar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 100%;
    color: var(--primary-active-color);
}
.navbar-active .navbar-icon::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    border-left: 5px solid var(--primary-active-color);
}
.navbar-item .navbar-content{
    display: none;
}
.navbar-active .navbar-icon{
    pointer-events: none;
}

.navbar-active .navbar-content{
    font-size:16px;
    overflow: auto;
    display: flex;
    position: absolute;
    left: 59px;
    top:0; 
    height: 100vh;
    width: 300px;
    background-color: var(--left-navbar-active-bg);
    cursor: default;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 15px;
    -webkit-animation-name: navbar-animate; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
    animation-name: navbar-animate;
    animation-duration: 0.3s;

    -webkit-box-shadow: 5px 0px 8px 0px var(--left-navbar-bg);
    -moz-box-shadow: 5px 0px 8px 0px var(--left-navbar-bg);
    box-shadow: 5px 0px 8px 0px var(--left-navbar-bg);
}

/*  Incoming Message Modal */


.incoming-messages-header{
    position: relative;
    margin-top:10px;
}
.incoming-message-button {
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    background-color: var(--primary-active-color);
    cursor: pointer;
    user-select: none;
}

.incoming-message-button:hover{
    background-color: var(--primary-active-hover-color);
}

.notif-number{
    display:inline-block;
    background-color:var(--primary-red-color);
    top: 0px;
    right: -35px;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #ccc;
    padding:2px 15px;
    border-radius: 10px;
}

.modal-overlay {
    z-index: 20;
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5)
}

.incoming-messages {
    display: none;
    z-index: 21;
    position: absolute;
    width: 90%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-card-color);
    flex-direction: column;
    padding-top:10px;
    -webkit-animation-name: modal-animate;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: modal-animate;
    animation-duration: 0.3s;
}

.messages-close {
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
    top: 50%;
    right: 18px;
    transform: translate(-50%,-50%);
}
.incoming-messages-title{
    padding-left: 10px;
}
.incoming-messages-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.message{
    padding: 10px;
    position: relative;
}
.message-title {
    font-size: 18px;
    font-weight: bold;
}
.message-text{
    margin-top: 5px;
    padding-left: 5px;
}
.message-delete{
    position: absolute;
    top: 50%;
    right: 20px;
    color:#6E6E6E;
    transform: translate(-50%,-50%);
}
.message-delete:hover{
    color:black;
    cursor: pointer;
}
.message:nth-child(odd){
    background-color: var(--left-navbar-active-bg);
    -webkit-box-shadow: 0px 0px 8px 0px var(--left-navbar-bg);
    -moz-box-shadow: 0px 0px 8px 0px var(--left-navbar-bg);
    box-shadow: 0px 0px 8px 0px var(--left-navbar-bg); 
}

/* NavBar Homepage */

    
.left-navbar-username {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: bold;
}
.left-navbar-last-actions{
    display:flex;
    justify-content:center;
    flex-direction: column;
}
.last-actions-card{
    display:flex;
    flex-direction: row;
    width:100%;
    margin-top:5px;
    margin-top:40px;
    
}
.last-action-header{
 font-size:20px;
 font-weight: bold;

}
.last-actions-card .fa-check-square{
    font-size:40px;
    padding-right: 10px;
    align-self: center;
}
.action-text{
    align-self: center;
}

/* Gorev List */
.navbar-content .new-task-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-active-color);
    font-size: 35px;
    padding:10px;
    margin-right:15px;
    margin-top:15px;
    user-select: none;
    cursor:pointer;
}
.navbar-content .new-task-btn:hover{
    background-color: var(--primary-active-hover-color);
}

.new-task-modal-container{
    display: none;
    z-index: 21;
    position: absolute;
    width: 90%;
    height: 70%;
    max-width: 980px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-card-color);
    color:white;
    flex-direction: column;
    padding-top:10px;
    align-items: center;
    -webkit-animation-name: modal-animate;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: modal-animate;
    animation-duration: 0.3s;
}
.new-task-modal-header{
    position: relative;
    width: 100%;
}
.new-task-modal-title{
    text-align: center;
}

.new-task-modal-form-container{
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items:center; 
}

.new-task-modal-form-field{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.new-task-modal-form-field-input{
    width: 50%;
}
.new-task-modal-form-field-input input[type="text"] {
    background-color: var(--left-navbar-bg);
    color:white;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    outline: none;
    border: none;
    transition: 0.5s;
    border-bottom: 4px solid var(--left-navbar-bg);
}
.new-task-modal-form-field-input input[type="text"]:focus{
    
    border-bottom: 4px solid var(--primary-active-color);
}

.new-task-modal-form-field-name{
    font-size: 18px;
    width: 50%;
    color:#ccc;
}
.task-card{
    background-color: var(--primary-card-color);
    margin-right:15px;
    margin-top:20px;
    padding:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.task-header{
    font-size:20px;
    font-weight: bold;
   }
.task-text{
    text-align: center;
    
}
.task-card-btns{
    width: 100%;
    display:flex;
    font-size: 30px;
    justify-content: space-around;
    padding-top: 10px;
}
.task-card-done{
    color:var(--primary-active-color);
}
.task-card-edit{
    color:yellowgreen;
}
.task-card-remove{
    color:var(--primary-red-color);
}
.task-card-btn{
    cursor:pointer;
}
/* KeyFrames */

@keyframes navbar-animate{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes modal-animate{
    from{
        opacity: 0; 
        transform: translate(-60%, -50%);
    }
    to{ 
        opacity: 1;
         transform: translate(-50%, -50%);
    }
}