/* NavBar General */
.logo{
    color: var(--primary-active-color);
    text-decoration: none;
}

#left-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--left-navbar-bg);
}
.navbar-item{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    font-size: 20px;
    color:white;
}
.navbar-active .navbar-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 100%;
    color: var(--primary-active-color);
}
.navbar-active .navbar-icon::after{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    border-left: 5px solid var(--primary-active-color);
}
.navbar-item .navbar-content{
    display: none;
}
.navbar-active .navbar-icon{
    pointer-events: none;
}

.navbar-active .navbar-content{
    font-size:16px;
    display: flex;
    position: absolute;
    left: 59px;
    top:0; 
    height: 100vh;
    width: 300px;
    background-color: var(--left-navbar-bg);
    cursor: default;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 15px;
    -webkit-animation-name: navbar-animate; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
    animation-name: navbar-animate;
    animation-duration: 0.3s;

}

/* NavBar Homepage  Incoming Message Modal */

.incoming-message-button{
    display: inline-block;
    padding: 15px 10px;
    background-color: var(--primary-active-color);
    cursor: pointer;
    user-select: none;
}

.incoming-messages-title{
    margin:10px;
}

.messages-overlay {
    z-index: 20;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.incoming-messages{
    display:none;
    z-index: 21;
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
    flex-direction: column;
}

.left-navbar-username {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.messages-close{
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
    top: 20px;
    right: 20px;
}

/* KeyFrames */

@keyframes navbar-animate{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}